
.light,
.dark {
  height: 100vh;
  text-align: center;
  padding-top: 100px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #000000;
  color: white;
}


.theme-btn {
  padding: 12px 22px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.4s;
}


.theme-btn:hover {
  background-color: #4640ff;
  transform: scale(1.1);
}


.card {
  padding: 2em;
}


.read-the-docs {
  color: #888;
}
